# Replace with your GCP Project ID
project_id = "your-gcp-project-id"

# GCP Region
region = "us-central1"

# Hub VPC Configuration
shared_vpc_name    = "shared-services-vpc"
shared_subnet_cidr = "10.10.0.0/24"

# Dev Spoke Configuration
dev_vpc_name    = "dev-vpc"
dev_subnet_cidr = "10.20.0.0/24"

# Prod Spoke Configuration
prod_vpc_name    = "prod-vpc"
prod_subnet_cidr = "10.30.0.0/24"

# Sandbox Spoke Configuration
sandbox_vpc_name    = "sandbox-vpc"
sandbox_subnet_cidr = "10.40.0.0/24"
